@model FinanceRequest.Models.BigViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="container well">
                <h3>Request information</h3>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.Title): @Html.DisplayFor(model => model.Request.Title)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.Description): @Html.DisplayFor(model => model.Request.Description)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.PlayItForward): @Html.DisplayFor(model => model.Request.PlayItForward)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.Amount): @Html.DisplayFor(model => model.Request.Amount)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.SubmissionDate): @Html.DisplayFor(model => model.Request.SubmissionDate)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Request.Status): @Html.DisplayFor(model => model.Request.Status.Description)
                </div>
                @Html.HiddenFor(model => model.Request.StatusId)

                <h3>Supporting information</h3>
                @{
                    if (Model.Attachment != null)
                    {
                        var fileId = Model.Attachment.Id != 0 ? Model.Attachment.Id : 0;
                        var fileName = Model.Attachment.File != null ? Model.Attachment.File : null;
                        var contentType = Model.Attachment.ContentType != null ? Model.Attachment.ContentType : null;
                        var fileContent = Model.Attachment.Content != null ? Model.Attachment.Content : null;
                        
                        <div class="form-group">
                            @if (fileId > 0)
                            {
                                if (contentType.Contains("image"))
                                {
                                    <a href="~/File?id=@fileId" alt="ad" target="_blank"><img src="~/File?id=@fileId" alt="ad" style="width: 100px; height: 100px;"/></a>
                                }
                                else
                                {
                                    <a href="~/File?id=@fileId" alt="ad" target="_blank"><div class="docAttachment"></div></a>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <p>No supporting documentation or image attached to this request.</p>
                    }
                }
                @if ((Model.Request.StatusId != 2) && (!User.IsInRole("Admin")))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Request.Id }, new { @class = "btn btn-outline-primary m-2" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Request.Id }, new { @class = "btn btn-outline-primary m-2" })
                }
            </div>
        </div>
    </div>
</div>
